#header {
  text-align: center;
}

#game {
  display: block;
  margin: 0 auto;
  text-align: right;
  width: 567px;
}

.tile {
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  float: left;
}

.game-over {
  background: red;
}

.apple {
  background: green;
  background-size: cover;
}

.occupied-tile {
  background: black;
}