#game {
  border: 1px solid;
  display: block;
  margin: 0 auto;
  width: 567px;
}

.tile {
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  float: left;
}

.game-over {
  background: red;
}

.apple {
  background: url(http://hdwall-papers.com/data/wallpapers/22/WDF_702388.jpeg);
  background-size: cover;
}

.occupied-tile {
  background: black;
}